/** Herald Link Decoration **/

.navbar .nav-tabs .herald .nav-link::after, .navbar .nav-tabs .game .nav-link::after {
    content: "";
    width: 20px !important;
    height: 20px !important;
    margin-top: -9px !important;
}

.navbar .nav-tabs .herald .nav-link::after {
    background: url('./images/knot.png') no-repeat;
    background-size: contain;
}
.navbar .nav-tabs .game .nav-link::after {
    background: url('./images/dol_logo.png') no-repeat;
    background-size: contain;
}
.navbar .nav-tabs .server-status .nav-link::after {
    content: '\E672';
}
.navbar .nav-tabs .book .nav-link::after {
    content: '\E010';
}

.navbar .nav-tabs .herald .nav-link {
    padding-left: 36px !important; 
}

@media (max-width: 550px) {
    .navbar .nav-tabs .herald .nav-link {
        padding-left: 12px !important; 
    }
}

@media (max-width: 730px) {
    .navbar .nav-tabs .game .nav-link {
        padding-left: 12px !important; 
        text-indent: 999px;
        width: 14px;
        padding: 0 8px;
        overflow: hidden;
    }
    .navbar .nav-tabs .game .nav-link::after {
        text-align: center;
        font-size: 14px;
        left: 8px;        
    }

}

@media (max-width: 900px) {
    .navbar .nav-tabs .book .nav-link, .navbar .nav-tabs .server-status .nav-link {
        text-indent: 999px;
        width: 14px;
        padding: 0 8px;
        overflow: hidden;
    }
    .navbar .nav-tabs .book .nav-link::after, .navbar .nav-tabs .server-status .nav-link::after {
        text-align: center;
        font-size: 14px;
        left: 8px;
    }
}

.centered-content {
    text-align: center;
}

/** Realm Styling **/
tr.ladder-realm-albion td {
    background-color: rgba(255, 80, 80, 0.35);
}
tr.ladder-realm-albion:hover > td {
    background-color: rgba(255, 80, 80, 0.20);
}
tr.ladder-realm-midgard td {
    background-color: rgba(100, 180, 255, 0.35);
}
tr.ladder-realm-midgard:hover > td {
    background-color: rgba(100, 180, 255, 0.20);
}
tr.ladder-realm-hibernia td {
    background-color: rgba(80, 255, 80, 0.35);
}
tr.ladder-realm-hibernia:hover > td {
    background-color: rgba(80, 255, 80, 0.20);
}