/** Herald Link Decoration **/

.navbar .nav-tabs .herald .nav-link::after
{
    content: "";
    width: 20px !important;
    height: 20px !important;
    background: url('./images/knot.png') no-repeat;
    background-size: contain;
    margin-top: -9px !important;
}

navbar .nav-tabs .herald .nav-link
{
    padding-left: 34px !important; 
}