/** Herald Link Decoration **/

.navbar .nav-tabs .herald .nav-link::after, .navbar .nav-tabs .game .nav-link::after {
    content: "";
    width: 20px !important;
    height: 20px !important;
    margin-top: -9px !important;
}

.navbar .nav-tabs .herald .nav-link::after {
}
.navbar .nav-tabs .game .nav-link::after {
    background: url('./images/dol_logo.png') no-repeat;
    background-size: contain;
}
.navbar .nav-tabs .status .nav-link::after {
    content: '\E672';
}
.navbar .nav-tabs .book .nav-link::after {
    content: '\E010';
}

.navbar .nav-tabs .herald .nav-link {
    padding-left: 36px !important; 
}

@media (max-width: 550px) {
    .navbar .nav-tabs .herald .nav-link {
        padding-left: 12px !important; 
    }
}

