div.herald-flags {
    text-align: center;
    position: relative;
}

div.herald-flags + div {
    clear: both;
}

div.herald-flags > div, div.herald-flags > a.herald-flag {
    display: inline-block;
    overflow: hidden;
    color: rgba(0,0,0,0);
    margin: 0px 0px;
}

div.herald-flags > a.herald-flag {
    margin: 0px 2%;
    background-repeat: no-repeat;
    background-color: rgb(120, 120, 120);
    border-radius: 6px;
    width: 53px;
    height: 51px;
    background-position: center;
}

div.herald-flags > a.herald-knotflag {
    background-image: url('./images/knot.png');

}
div.herald-flags > a.herald-knotflag:hover {
    background-image: url('./images/knot_hover.png');
}
div.herald-flags > a.herald-knotflag.herald-flag-selected {
    background-image: url('./images/knot_glow.png');
}

div.herald-flags > a.herald-albflag {
    background-image: url('./images/alb.png');
}
div.herald-flags > a.herald-albflag:hover {
    background-image: url('./images/alb_hover.png');
}
div.herald-flags > a.herald-albflag.herald-flag-selected {
    background-image: url('./images/alb_glow.png');
}

div.herald-flags > a.herald-midflag {
    background-image: url('./images/mid.png');
}
div.herald-flags > a.herald-midflag:hover {
    background-image: url('./images/mid_hover.png');
}
div.herald-flags > a.herald-midflag.herald-flag-selected {
    background-image: url('./images/mid_glow.png');
}

div.herald-flags > a.herald-hibflag {
    background-image: url('./images/hib.png');
}
div.herald-flags > a.herald-hibflag:hover {
    background-image: url('./images/hib_hover.png');
}
div.herald-flags > a.herald-hibflag.herald-flag-selected {
    background-image: url('./images/hib_glow.png');
}

div.herald-flags > div.herald-search {
    float: right;
    position: absolute;
    right: 0px;
}

@media (max-width: 730px) {
    div.herald-flags > div.herald-search {
        display:block;
        float: right;
        position:unset;
        margin-bottom: 2em;
    }
}

div.herald-classes, div.herald-ladder {
    border: none;
    margin-top: 10px;
}
div.herald-classes-midgard {
    background-color: lightblue;
}
div.herald-classes-albion {
    background-color: lightsalmon;
}
div.herald-classes-hibernia {
    background-color: lightgreen;
}

div.herald-classes ul > li, div.herald-ladder ul > li {
    display: inline-block;
}
div.herald-classes ul > li + li:before, div.herald-ladder ul > li + li:before {
    content: '\25ca';
    padding: 0px 1em;
}
div.herald-classes ul > li > a, div.herald-classes ul > li > span, div.herald-ladder ul > li > a {
    font-weight: bold;
}
div.herald-classes ul > li.herald-class-selected > span {
    text-shadow: 2px 2px 4px white;
    text-decoration: underline;
}
div.herald-ladder ul > li.herald-ladder-selected > a {
    text-shadow: 2px 2px 4px;
    text-decoration: underline;
}

table.herald-ladder, table.herald-guild-members, div.herald-guild  {
    width: 80%;
    margin: 20px auto;
}
@media (max-width: 700px) {
    table.herald-ladder, table.herald-guild-members, div.herald-guild  {
        width: inherit;
    }
}
table.herald-ladder tr > td:nth-of-type(4),
table.herald-ladder tr > td:nth-of-type(5),
table.herald-ladder tr > td:nth-of-type(7) {
    text-align: right;
}

table.herald-ladder.herald-ladder-guilds tr > td:nth-of-type(6) {
    text-align: right !important;
}

tr.ladder-realm-albion td {
    background-color: rgba(255, 80, 80, 0.35);
}
tr.ladder-realm-albion:hover > td {
    background-color: rgba(255, 80, 80, 0.20);
}
tr.ladder-realm-midgard td {
    background-color: rgba(100, 180, 255, 0.35);
}
tr.ladder-realm-midgard:hover > td {
    background-color: rgba(100, 180, 255, 0.20);
}
tr.ladder-realm-hibernia td {
    background-color: rgba(80, 255, 80, 0.35);
}
tr.ladder-realm-hibernia:hover > td {
    background-color: rgba(80, 255, 80, 0.20);
}

table.herald-guild-members tr > td:nth-of-type(4),
table.herald-guild-members tr > td:nth-of-type(5),
table.herald-guild-members tr > td:nth-of-type(6) {
    text-align: right;
}

div.herald-guild {
    position: relative;
}

div.herald-guild-name {
    font-size: large;
    text-align: center;
    padding: 0.5em;
}

@media (max-width: 450px) {
    div.herald-guild-name {
        text-align: left;
    }
}

div.herald-guild-banner {
    position: absolute;
    right: 20px;
    top: 30px;
}

div.herald-guild div + div {
    font-size: larger;
    margin-bottom: 5px;
}

div.herald-guild div + div > span:first-of-type:after {
    content: ':';
    margin-right: 10px;
}

div.herald-guild-albion {
    background-color: rgba(255, 80, 80, 0.35);
}
div.herald-guild-midgard {
    background-color: rgba(100, 180, 255, 0.35);
}
div.herald-guild-hibernia {
    background-color: rgba(80, 255, 80, 0.35);
}