@media only screen and (max-width : 700px) {
    .custom-server-include {
        display: block !important;
        width: auto !important;
    }
}

.custom-server-include {
    display: inline-block;
    width: 45%;
    text-align: left;
}

.custom-server-include > div > div > div > table {
    width:100%;
    font-size: 95% !important;;
}

.custom-server-include td:nth-of-type(2) {
    text-align: right;
}

.custom-server-include td:nth-of-type(2),
.custom-server-include .server-state > td:first-child {
    font-weight: bold;
}

.server-state.server-online > td:nth-child(2),
.server-load.server-light > td:nth-child(2),
.server-replication.server-working > td:nth-child(2) {
    color: green;
}
.server-state.server-starting > td:nth-child(2),
.server-load.server-normal > td:nth-child(2),
.server-replication.server-delayed > td:nth-child(2) {
    color: orange;
}
.server-state.server-offline > td:nth-child(2),
.server-load.server-heavy > td:nth-child(2),
.server-replication.server-broken > td:nth-child(2) {
    color: red;
}
.custom-server-include .server-validated > td,
.custom-server-include .server-restarted > td,
.custom-server-include .server-time > td {
    font-size:75%;
}
.custom-server-include .server-restarted > td:nth-child(2),
.custom-server-include .server-time > td:nth-child(2) {
    font-weight:unset;
    text-align: center;
}

.custom-server-include > div > div > div p {
    margin-bottom: 0.35em !important;
    font-size: 95%;
}
.custom-server-include .server-rvrtime {
    text-align: center;
    font-size: 70%;
}
.custom-server-include .capture-time {
    font-size: 70%;    
}

.custom-server-include .capture-time::after {
    content: ' - ';
}
.custom-server-include .capture-keep::after {
    content: ', ';
}
.custom-server-include .capture-realm {
    font-weight: bold;
}

.albion .capture-realm {
    color: red;
}
.midgard .capture-realm {
    color: blue;
}
.hibernia .capture-realm {
    color: green;
}