<li class="tab pages herald" title="{L_DOL_STATUS_HERALD}" data-select-match="app/herald, herald">
    <a class="nav-link" href="{U_DOL_STATUS_HERALD}">
        {L_DOL_STATUS_HERALD}
    </a>
</li>
<li class="tab pages game" title="{L_DOL_STATUS_GAME}" data-select-match="app/game, game">
    <a class="nav-link" href="{U_DOL_STATUS_GAME}">
        {L_DOL_STATUS_GAME}
    </a>
</li>
<li class="tab members book" title="{L_DOL_STATUS_BOOK}" data-select-match="app/grimoire, grimoire, app/book, book">
    <a class="nav-link" href="{U_DOL_STATUS_BOOK}">
        {L_DOL_STATUS_BOOK}
    </a>
</li>
<li class="tab members server-status" title="{L_DOL_STATUS}" data-select-match="app/status, status">
    <a class="nav-link" href="{U_DOL_STATUS_STATUS}">
        {L_DOL_STATUS}
    </a>
</li>
