<!-- INCLUDE overall_header.html -->

<h2>{L_DOL_STATUS_GAME_TITLE}</h2>
<div class="panel">
    <div class="inner game-confirm"><span class="corners-top"><span></span></span>
    <h3>{L_CONFIRM}</h3>
    <p>{CONFIRM_MESSAGE}</p>
    <form method="post">{S_FORM_TOKEN}{REPEAT_INPUT}{EXTRA_INPUT}
    <input class="button2" type="submit" name="status_form_confirm" value="{L_DOL_GAME_ACTION_CONFIRM}" />
    <a class="button1" href="{U_DOL_STATUS_GAME}" title="{L_DOL_GAME_ACTION_CANCEL}" />{L_DOL_GAME_ACTION_CANCEL}</a>
    </form>
    <span class="corners-bottom"><span></span></span></div>
</div>


<!-- INCLUDE overall_footer.html -->