<!-- INCLUDE overall_header.html -->

<h2>{L_DOL_STATUS_HERALD}</h2>

<div class="herald-flags">
    <a href="{U_HERALD_WARMAP}" class="herald-knotflag herald-flag"><span>Warmap</span></div>
    <a href="{U_HERALD_ALBION}" class="herald-albflag herald-flag"><span>Albion</span></div>
    <a href="{U_HERALD_MIDGARD}" class="herald-midflag herald-flag"><span>Midgard</span></div>
    <a href="{U_HERALD_HIBERNIA}" class="herald-hibflag herald-flag"><span>Hibernia</span></div>
    <div class="herald-search  search-box"><span>Search</span><form method="post" action="/herald/search"><fieldset><input placeholder="Players and Guilds..."" class="inputbox search tiny" type="text" /><button class="button icon-button search-icon" title="Players and Guilds" type="submit" /></fieldset></form></div>

</div>

<!-- INCLUDE overall_footer.html -->