<!-- INCLUDE overall_header.html -->

<h2>{L_DOL_STATUS_HERALD}</h2>

<div class="herald-flags">
    <a href="{U_HERALD_WARMAP}" title="Warmap" class="herald-knotflag herald-flag<!-- IF U_HERALD_COMMAND === "" --> herald-flag-selected<!-- ENDIF -->"><span>Warmap</span></a>
    <a href="{U_HERALD_ALBION}" title="Albion" class="herald-albflag herald-flag<!-- IF U_HERALD_COMMAND == "albion" --> herald-flag-selected<!-- ENDIF -->"><span>Albion</span></a>
    <a href="{U_HERALD_MIDGARD}" title="Midgard" class="herald-midflag herald-flag<!-- IF U_HERALD_COMMAND == "midgard" --> herald-flag-selected<!-- ENDIF -->"><span>Midgard</span></a>
    <a href="{U_HERALD_HIBERNIA}" title="Hibernia" class="herald-hibflag herald-flag<!-- IF U_HERALD_COMMAND == "hibernia" --> herald-flag-selected<!-- ENDIF -->"><span>Hibernia</span></a>
    <div class="herald-search  search-box"><span>Search</span><form method="post" action="/herald/search"><fieldset><input name="herald_search" placeholder="Players and Guilds..." class="inputbox search tiny" type="text" /><button class="button icon-button search-icon" title="Players and Guilds" type="submit" /></fieldset></form></div>
</div>

<!-- IF U_HERALD_COMMAND == "albion" -->
    <!-- DEFINE $REALM = 'Albion' -->
    <!-- DEFINE $CLASSES_LIST = '' -->
    <!-- BEGIN Y_Classes_Albion -->
        <!-- IF U_HERALD_PARAM == Y_Classes_Albion.VALUE -->
        <!-- DEFINE $CLASSES_LIST = '{$CLASSES_LIST}<li class="herald-class-selected"><span>{Y_Classes_Albion.VALUE}</span></li>' -->
        <!-- ELSE -->
        <!-- DEFINE $CLASSES_LIST = '{$CLASSES_LIST}<li><a href="{Y_Classes_Albion.URL}" title="{Y_Classes_Albion.VALUE}">{Y_Classes_Albion.VALUE}</a></li>' -->
        <!-- ENDIF -->
    <!-- END Y_Classes_Albion -->
<!-- ELSEIF U_HERALD_COMMAND == "midgard" -->
    <!-- DEFINE $REALM = 'Midgard' -->
    <!-- DEFINE $CLASSES_LIST = '' -->
    <!-- BEGIN Y_Classes_Midgard -->
        <!-- IF U_HERALD_PARAM == Y_Classes_Midgard.VALUE -->
        <!-- DEFINE $CLASSES_LIST = '{$CLASSES_LIST}<li class="herald-class-selected"><span>{Y_Classes_Midgard.VALUE}</span></li>' -->
        <!-- ELSE -->
        <!-- DEFINE $CLASSES_LIST = '{$CLASSES_LIST}<li><a href="{Y_Classes_Midgard.URL}" title="{Y_Classes_Midgard.VALUE}">{Y_Classes_Midgard.VALUE}</a></li>' -->
        <!-- ENDIF -->
    <!-- END Y_Classes_Midgard -->
<!-- ELSEIF U_HERALD_COMMAND == "hibernia" -->
    <!-- DEFINE $REALM = 'Hibernia' -->
    <!-- DEFINE $CLASSES_LIST = '' -->
    <!-- BEGIN Y_Classes_Hibernia -->
        <!-- IF U_HERALD_PARAM == Y_Classes_Hibernia.VALUE -->
        <!-- DEFINE $CLASSES_LIST = '{$CLASSES_LIST}<li class="herald-class-selected"><span>{Y_Classes_Hibernia.VALUE}</span></li>' -->
        <!-- ELSE -->
        <!-- DEFINE $CLASSES_LIST = '{$CLASSES_LIST}<li><a href="{Y_Classes_Hibernia.URL}" title="{Y_Classes_Hibernia.VALUE}">{Y_Classes_Hibernia.VALUE}</a></li>' -->
        <!-- ENDIF -->
    <!-- END Y_Classes_Hibernia -->
<!-- ELSE -->
    <!-- DEFINE $REALM = FALSE -->
<!-- ENDIF -->

<!-- IF $REALM !== FALSE -->
<div class="panel herald-classes-{U_HERALD_COMMAND} herald-classes">
   <div class="inner"><span class="corners-top"><span></span></span>
        <div class="centered-content"><ul>
        {$CLASSES_LIST}
        </ul></div>
    <span class="corners-bottom"><span></span></span></div>
</div>
<!-- ELSE -->
<div class="panel herald-ladder">
   <div class="inner"><span class="corners-top"><span></span></span>
        <div class="centered-content"><ul>
        <li class="<!-- IF U_HERALD_COMMAND == "active" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_ACTIVE}">Top Active Players</a></li>
        <li class="<!-- IF U_HERALD_COMMAND == "players" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_PLAYERS}">Top 50 Players</a></li>
        <li class="<!-- IF U_HERALD_COMMAND == "guilds" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_GUILDS}">Top 50 Guilds</a></li>
        <li class="<!-- IF U_HERALD_COMMAND == "kills" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_KILLS}">Top 50 Total Kills</a></li>
        <li class="<!-- IF U_HERALD_COMMAND == "deathblow" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_DEATHBLOW}">Top 50 Deathblows</a></li>
        <li class="<!-- IF U_HERALD_COMMAND == "solo" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_SOLO}">Top 50 Solo Kills</a></li>
        <li class="<!-- IF U_HERALD_COMMAND == "people" -->herald-ladder-selected<!-- ENDIF -->"><a href="{U_HERALD_WARMAP}">Population Statistic</a></li>
        </ul></div>
    <span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF U_HERALD_COMMAND === "" -->
    <!-- INCLUDE warmap.html -->
<!-- ELSEIF U_HERALD_COMMAND == "search" || U_HERALD_COMMAND == "active" || U_HERALD_COMMAND == "players" || U_HERALD_COMMAND == "kills" || U_HERALD_COMMAND == "deathblow" || U_HERALD_COMMAND == "solo" || U_HERALD_COMMAND == "albion" || U_HERALD_COMMAND == "midgard" || U_HERALD_COMMAND == "hibernia" -->
    <!-- INCLUDE ladder.html -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->