
    <table class="herald-ladder herald-ladder-guilds table1 responsive">
    <thead>
        <tr>
        <th></th>
        <th>{L_DOL_HERALD_LADDERGUILDNAME}</th>
        <th>{L_DOL_HERALD_LADDERALLIANCENAME}</th>
        <th>{L_DOL_HERALD_LADDERREALMPOINTS}</th>
        <th>{L_DOL_HERALD_LADDERMEMBERS}</th>
        <th>{L_DOL_HERALD_LADDERLASTPLAYED}</th>
        </tr>
    </thead>
    <tbody>
    <!-- BEGIN Y_Ladder -->
        <tr class="ladder-realm-{Y_Ladder.Realm}">
        <!-- DEFINE $RANKING = Y_Ladder.S_ROW_NUM + 1 -->
        <td>{$RANKING}</td>
        <td><a href="{Y_Ladder.GUILD_URL}" title="{Y_Ladder.GuildName}">{Y_Ladder.GuildName}</a></td>
        <td><!-- IF Y_Ladder.AllianceName !== ""  --><a href="{Y_Ladder.ALLIANCE_URL}" title="{Y_Ladder.AllianceName}">{Y_Ladder.AllianceName}<!-- ENDIF --></td>
        <td>{Y_Ladder.RealmPoints}</td>
        <td>{Y_Ladder.Members}</td>
        <td>{Y_Ladder.LastPlayed}</td>
        </tr>
    <!-- END Y_Ladder -->
    </tbody>
    </table>
