
    <table class="herald-ladder table1 responsive">
    <thead>
        <tr>
        <th></th>
        <th>{L_DOL_HERALD_LADDERNAME}</th>
        <th>{L_DOL_HERALD_LADDERRACECLASS}</th>
        <th>{L_DOL_HERALD_LADDERREALMPOINTS}</th>
        <th>{L_DOL_HERALD_LADDERRR}</th>
        <th>{L_DOL_HERALD_LADDERGUILD}</th>
        <th>{L_DOL_HERALD_LADDERLASTPLAYED}</th>
        </tr>
    </thead>
    <tbody>
    <!-- BEGIN Y_Ladder -->
        <tr class="ladder-realm-{Y_Ladder.Realm}">
        <!-- DEFINE $RANKING = Y_Ladder.S_ROW_NUM + 1 -->
        <td>{$RANKING}</td>
        <td><a href="{Y_Ladder.PLAYER_URL}" title="{Y_Ladder.PlayerName}">{Y_Ladder.PlayerName}<!-- IF Y_Ladder.LastName !== ""  --> {Y_Ladder.LastName}<!-- ENDIF --></a></td>
        <td>{Y_Ladder.Race} {Y_Ladder.Class}</td>
        <td>{Y_Ladder.RealmPoints}</td>
        <td>{Y_Ladder.RealmRank}</td>
        <td><!-- IF Y_Ladder.GuildName !== ""  --><a href="{Y_Ladder.GUILD_URL}" title="{Y_Ladder.GuildName}">{Y_Ladder.GuildName}<!-- ENDIF --></a></td>
        <td>{Y_Ladder.LastPlayed}</td>
        </tr>
    <!-- END Y_Ladder -->
    </tbody>
    </table>
