<!-- IF Y_Exception -->
<div class="server-exception">{Y_Exception}</div>
<!-- ELSEIF Y_ErrorMessage -->
<div class="server-exception">{Y_ErrorMessage}</div>
<!-- ELSE -->
<!-- BEGIN Y_CaptureLog -->
    <p class="<!-- IF Y_CaptureLog.CapturedBy == "Albion" -->albion<!-- ELSEIF Y_CaptureLog.CapturedBy == "Midgard" -->midgard<!-- ELSEIF Y_CaptureLog.CapturedBy == "Hibernia" -->hibernia<!-- ELSE -->norealm<!-- ENDIF -->"><span class="capture-time">{Y_CaptureLog.CaptureTime}</span><span class="capture-keep">{Y_CaptureLog.KeepName}</span><span class="capture-realm">{Y_CaptureLog.CapturedBy}</span></p>
<!-- END Y_CaptureLog -->
    <p class="server-rvrtime">{Y_RvRTime}</p>
<!-- ENDIF -->