<!-- INCLUDE overall_header.html -->

<h2>{L_DOL_STATUS_STATUS_TITLE}</h2>

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>
        <div class="centered-content">
            <div class="panel bg1 custom-server-include">
                <div class="inner">
                    <div class="postbody">
                        <div class="content">
                        <!-- INCLUDE statusmini_body.html -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel bg1 custom-server-include">
                <div class="inner">
                    <div class="postbody">
                        <div class="content">
                        <!-- INCLUDE statusrvrmini_body.html -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->