<div class="panel herald-warmap">
   <div class="inner"><span class="corners-top"><span></span></span>
        <div id="warmap-content">
            <div class="warmap-content-realm" id="warmap-content-albion">
                <div id="warmap-content-hadrian">
                </div>
                <div id="warmap-content-pennine">
                </div>
                <div id="warmap-content-sauvage">
                </div>
                <div id="warmap-content-snowdonia">
                </div>
            
            </div>
            <div class="warmap-content-realm" id="warmap-content-midgard">
                <div id="warmap-content-uppland">
                </div>
                <div id="warmap-content-odins">
                </div>
                <div id="warmap-content-jamtland">
                </div>
                <div id="warmap-content-yggdra">
                </div>
            
            </div>
            <div class="warmap-content-realm" id="warmap-content-hibernia">
                <div id="warmap-content-emain">
                </div>
                <div id="warmap-content-cruachan">
                </div>
                <div id="warmap-content-breifine">
                </div>
                <div id="warmap-content-collory">
                </div>

            </div>

            <div class="warmap-content-realm" id="warmap-content-neutral">
                <div id="warmap-content-agramon">
                </div>
                <div id="warmap-content-irishsea">
                </div>
            </div>
        </div>
    <span class="corners-bottom"><span></span></span></div>
</div>